---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Example Page">
  <section class="margin-48">
    <div class="container">
      <h1>About Us</h1><br>
    </div>
  </section>
  <section class="margin-48">
    <div class="container" data-auto-grid="2">
<p>Welcome to Hat City. Hat City is the number 1 place in Chelmsford to get your Hats, DVD's, CD's and all kinds of other bits and bobs. Alan who runs the market stall has a vast knowledge of the trade and is widely known around the market for his fair prices and expterise. </p>
<img src="https://scontent-lcy1-2.xx.fbcdn.net/v/t1.15752-9/310862138_1361337754270964_3722884120896805889_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=7wleWfg9HY8AX_KtHDG&_nc_ht=scontent-lcy1-2.xx&oh=03_AdQioQ_WKxjjo7JMuKopZ5Zs5ucLXWk9GmY1qzQbMkoo3A&oe=63818463">    </div>
  </section>
</DefaultLayout>
