---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import PopupExample from '../components/Popup';
import Popup from 'reactjs-popup';
import 'reactjs-popup/dist/index.css';
---

<DefaultLayout title="Home">
  <section class="margin-48">
    <div class="container">
      <h1>Welcome to <em>Hat City - Chelmsford</em></h1><br>
    </div>
  </section>
  <section class="padding-48 color-primary">
    <div class="container">
      <h2 class="margin-16 bottom">A little bit about us</h2>
      
      <p class="margin-16 bottom  space-35 radius-large elevation-50 text-white-600 "> 
        Hat City is a market stall based in the popular indoor market in Chelmsford, Essex. We sell everything from Suitcases to CD's. We have also have a large 
        selection of vinyl records for you to enjoy!. Check us out to find out more!. 


      </p>
    </div>
    <div class="container" data-auto-grid="3">
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in">
        <h3>Hats</h3>
        <p>As it's in the name - we sell Hats of all types & sizes. From holiday hats to winter seasonal hats, we got everything to keep your head warm!. </p>
      </div>
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in" data-animation-delay="0.25s">
        <h3>Vinyls</h3>
        <p>We have a wide range of vinyls for you to enjoy. We have a vast range of LP's and genres for you to enjoy!.</p>
      </div>
      <div class="text-primary-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in" data-animation-delay="0.5s">
        <h3>CD's</h3>
        <p>Loremlaceat eius officiis veniam totam. Earum eos et voluptate dolorem.</p>
      </div>
    </div>
    <div class="container margin-16 top">
      <a href="/opening-times" class="button">Check Out Our Opening Times</a>&nbsp;
      <a href="/about" class="button color-secondary">About Us</a>
    </div>
  </section>
  <section class="margin-64">
    <div class="container">
      <div class="grid">
        <div class="small-12">
          <h2>Opening Times</h2>
        </div>
        <div class="small-12 medium-3 space-content">
          <h3>Below are our opening times:</h3>
          <ul>
            <li>Wednesday: 8:30am - 16:00</li>
            <li>Thursday: 8:30 - 16:00</li>
            <li>Friday: 8:30 - 16:00</li>
            <li>Saturday: 8:30 - 17:00</li>
            <li>Sunday - CLOSED</li>
            <li>Monday - CLOSED</li>
            <li>Tuesday 8:30 - 16:00 </li>
          </ul>
        </div>
        <div class="small-12 medium-8 offset-medium-4 space-content">
          <h3>Come see what we have to offer!!.</h3>
<img src="https://scontent-lcy1-2.xx.fbcdn.net/v/t1.15752-9/310607498_481172974050600_5441417652600342137_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=SbWRXFLJ0xMAX_vg8uj&_nc_ht=scontent-lcy1-2.xx&oh=03_AdRe7XHZpbyxwjrIoUSh5QJH04aT-J7FfcQhT840c9UArA&oe=637F453B">   
       <p>Come see us at the famous indoor market in Chelmsford city centre. Alan will be able to assist you with any queries or questions and has a wide knowledge of the trade!.</p>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
